/* global */

body{
    background-color: black;
    min-width:1280px;
}

a{
    color:white;
}

h1{
    color:white;
}

h2{
    color: orangered;
    margin-left:2%;
}

p{
    color:white;
    margin-left: 3%;
}

li{
    color:white;
}

/* Caddie */

#caddy{
    height: 30px;
    width: 30px;
    margin-left: 90%;
    margin-top: 10px;
}

#div_panier{
    height: 0px;
    width: 220px;
    background-color: rgb(30, 30, 30, 0.7);
    display: none;
    position: fixed;
    margin-left: 80%;
    margin-top: 2%;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.menu_haut{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 1.5%;
    padding-left: 15%;
}

/* Page Accueil */

#index{
    display:block;
}

.presentation{
    float: left;
    padding-top: 1%;
    font-size: 20px;
    padding-left: 5%;
}

#presentation h1{
    margin-right: -20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.peluche{
    background-color:rgb(30,30,30);
    margin-top: 2%;
    margin-left: 70%;
    height: 515px;
    max-width: 380px;
    padding-top: 3%;
}

.peluche p{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    text-align: center;
}

#produit_phare{
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 1000;
    font-size: 1.5em;
    margin-bottom: -5px;
}

/* Page Contact */

#contact{
    display: none;
    padding-top: 1%;
    padding-left: 10%;
}

#contact li::marker{
	color: transparent;
}

#contact li{
    padding-bottom: 15px;
}

/* Page Presentation */

#presentation{
    display: none;
    padding-top: 1%;
    padding-left: 10%;
}

#presentation img{
    width: 216px;
    height: 144px;
    margin-left: 3%;
}


#moi_image{
    float: left;
}


#mon_nom{
    word-spacing: 125px;
    margin-left: 5%;
}
#Arthurhtcr{
    width: 72px;
    margin: 0;
    margin-left: 20%;
    float: right;
}

/* Page Produit Service */

#produit_service{
    display: none;
}

#visionneuse_photo{
    margin-left: 35%;
    margin-top: 2%;
}

#produit{
    margin-top: 2.5%;
	width: 400px;
	height: 400px;
}

#left_button{
    background: url(ressource/gauche.png);
    width: 30px;
	height: 30px;
    border: none;
}

#right_button{
    background: url(ressource/droite.png);
    width: 30px;
	height: 30px;
    border: none;
}

#valider{
    background: url(ressource/valider.png);
    width: 30px;
	height: 30px;
    border: none;
}

#achat_produit{
    margin-left: 50%;
    margin-top: -5%;
}

/* Page Payement */

#payement{
    display: none;
    padding-top: 1%;
    padding-left: 10%;
}

#payement h2{
    font-size: 35px;
}

#payement button{
    height: 20px;
    width: 60px;
    margin-left: 3%;
}

#produit_image{
    width: 50px;
    position:fixed;
    margin-top: 5%;
    margin-right: 1%
}

#facture{
    font-size: 30px;
    margin-left : 7%;
}

#boutton_payement{
    background: url(ressource/payer.png);
    width: 66px;
	height: 16px;
    border: none;
}

/* Animation Bouton menu */
div.toggle{
    margin-top: 20%;
}

.toggle{
    z-index: 2;
    transition-duration: .5s;
    position: absolute;
    margin: 0;
    margin-left: 25px;
    width: 50px;
    height: 50px;
    background: rgba(70,70,70,.7);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.toggle span{
    transition-duration: 2s;
    position: absolute;
    width: 30px;
    height: 4px;
    background: orangered;
    box-shadow: 0 0px 10px orangered;
    border-radius: 4px;
    margin-top: 23px;
    margin-left: 10px;
}

.toggle span:nth-child(1)
{
    transition-duration: .5s;
    transform: translateY(-15px);
    width: 15px;    
    transform: rotate(45deg);
    left: 18px;
    top: -4px;
}

.toggle span:nth-child(2)
{
    transition-duration: .5s;
    transform: translateY(-15px);
    width: 15px;
    transform: rotate(315deg);
    left: 18px;
    top: 4px;
}


.toggle.active{
    position: absolute;
    z-index: 2;
    transition-duration: .5s;
    margin-top: 140px;
    width: 300px;
    height: 300px;
    background-color: rgba(70,70,70,.7);
}


.toggle.active span:nth-child(3)
{
    transition-duration: .1s;
    transform: translateX(-60px);
}

.toggle.active span:nth-child(1)
{
    width: 35px;
    margin: 0;
    margin-right: 15px;
    margin-top: 150px;
    transform: translateX(0);
    transform: rotate(315deg);
}

.toggle.active span:nth-child(2)
{
    width: 35px;
    margin: 0;
    margin-top: 142px;
    transform: translateX(0);
    transform: rotate(45deg);
}


/* Mise en forme des boutons des différentes pages du site */
.menu_haut{
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    visibility: hidden;
    overflow: hidden;
}

.toggle.active .menu_haut{
    visibility: visible;
}

.menu_haut li::marker{
	color: transparent;
}

.menu_haut li{
    margin-bottom: 15px;
}

#menu_accueil{
    border: none;
    background-color: rgba(70,70,70,0);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#menu_accueil:hover{
    background-color:rgba(255,69,0,.9);
    border-radius: 5px;
}

#menu_presentation{
    border: none;
    background-color: rgba(70,70,70,0);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#menu_presentation:hover{
    background-color:rgba(255,69,0,.9);
    border-radius: 5px;
}

#menu_produit{
    border: none;
    background-color: rgba(70,70,70,0);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#menu_produit:hover{
    background-color:rgba(255,69,0,.9);
    border-radius: 5px;
}

#menu_contact{
    border: none;
    background-color: rgba(70,70,70,0);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#menu_contact:hover{
    background-color:rgba(255,69,0,.9);
    border-radius: 5px;
}

#menu_payement{
    border: none;
    background-color: rgba(70,70,70,0);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#menu_payement:hover{
    background-color:rgba(255,69,0,.9);
    border-radius: 5px;
}
