body{
    background-color: black;
}

.presentation{
    float: left;
    padding-top: 2%;
    color: white;
    font-size: 20px;
    padding-left: 5%;
}



.peluche{
    background-color:rgb(30,30,30);
    margin-top: 5%;
    margin-left: 70%;
    height: 515px;
    max-width: 380px;
    padding-top: 3%;
}

.peluche p{
    color:white;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    text-align: center;

}


h1{
    margin-right: -20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu_haut{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(30,30,30,.7);
    padding-bottom: 1.5%;
    text-align: center;
}

.menu_haut a{
    display:inline;
    margin-right: 4%;
    margin-left: 4%;
    font-size: 200%;
    font-weight: bold;
    text-decoration: None;
    color: white;
}

.menu_haut:hover{
    text-decoration: none;
    color: white;
    margin-bottom: 0;
}

.menu_haut:active{
    text-decoration: none;
    color: white;
}


#produit_phare{
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 1000;
    font-size: 1.5em;
}

#index{
    display:block;
}

#contact{
    display: none;
}

#presentation{
    display: none;
}

#produit_service{
    display: none;
}

#payement{
    display: none;
}


#produit{
    margin-top: 2.5%;
	width: 400px;
	height: 400px;
}


#prix_produit{
    color: white;
}

#description{
    color: white;
}

#nom_produit{
    color: white;
}


#left_button{
    background: url(ressource/gauche.png);
    width: 30px;
	height: 30px;
    border: none;
}

#right_button{
    background: url(ressource/droite.png);
    width: 30px;
	height: 30px;
    border: none;
}
